@charset "utf-8";

/*CSS */
body {
	margin: 0;
	padding: 0;
	font-family: Verdana;
	color: #666;
	background: #005883; 
	font-size: 1em;
	line-height: 1.5em;
	padding-top: 80px;
}
 
h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}
 
.p {
	padding: 10px 20px;
	margin: 1px;
    border: 1px solid;
    border-radius: 10px;
}
 
img {
	max-width: 100%;
	height: auto;
}

#github {
	margin-top: -160px;
}

#leyenda_github {
	margin-top: 80px;
}

#git{
	margin-top: -40px;
}

#leyenda_git {
	margin-top: 60px;
}

#leyenda_html {
	margin-top: 60px;
}

#html1{
	margin-top: -95px;
}
#parrafo{

	 float:left;
     width:800px;
     text-align: center;
     padding: -20px -20px;
	 margin: 1px;
}
#body{
	background:#FFFFFF;
}	

/************ 
//-------------------------------
// CABECERA
//-------------------------------
************/
#main-header {
	background: #005883;
	color: white;
	height: auto;
	width: 100%; 
	left: 0; 
	top: 0; 
	position: fixed;
	z-index: 99;
}
/*letra*/
#main-header a {
		color: white;
	}
/************
//-----------------------------
// PIE PÁGINA
//-----------------------------
************/
#main-footer {
	background: #005883;
	color: white;
	padding: 40px;
	margin-top: 10px;
	height: 50%;

}
#main-footer p {
		margin: 0;
	}
	

#main-footer a {
		color: white;
	}


/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 5px 0 0 100px;
	text-decoration: none;
}

#logo-header:hover {
		color: #0b76a6;
	}
	
#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}

#main-content {
	background: white;
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}	
 
/*
 * Navegación
 */
nav {
	float: right;
}

nav ul {
		margin-right:-20;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
.nav li a {
				background-color:#005883;
				color:#fff;
				text-decoration:none;
				padding:10px 40px;
				display:block;
			}
			
nav ul li {
			display: inline-block;
			line-height: 80px;
			position: relative;
		    top: -16px;
		    left: 18px;
		    margin:auto;
		}
			

nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			

nav ul li a:hover {
					background: #176398;
				}

/************
//-----------------------------
// MENU DESPLEGABLE
//-----------------------------
************/
 
ul, ol {
				list-style:none;
			}
			
.nav > li {
				float:left;
				position:block;
			}
			
.nav li ul {
				display:none;
				position:absolute;
				min-width:100px;

			}
			
.nav li:hover > ul {
				display:block;
			}
			
.nav li ul li {
				position:relative;
			}
		

/************
//-----------------------------
// SLIDER
//-----------------------------
************/

.slider{
	display:block;
	position:relative;
	margin:auto;
/*	width:100%;*/
	max-width:auto;
	max-height:562px;
	overflow:hidden;
	margin-top: 20px;	
}

.boton{
	position:absolute;
	display:block;
	bottom:30px;
	margin:0;
	padding:0;
	z-index:999;
	cursor:pointer;
	opacity:0;
}

.boton:nth-child(1){
	left:30px;
}
.boton:nth-child(3){
	left:60px;
}
.boton:nth-child(5){
	left:90px;
}
.boton:nth-child(7){
	left:120px;
}

.slider label{
	position:absolute;
	bottom:30px;
	width:12px;
	height:12px;
	background: rgba (50,50,50,.5);
	border-radius:7px;
	z-index:100;
	border: 1px solid #777;
}

.slider label:nth-child(2){
	left:30px;
}
.slider label:nth-child(4){
	left:60px;
}
.slider label:nth-child(6){
	left:90px;
}
.slider label:nth-child(8){
	left:120px;
}

.boton:checked + label{
	background: rgba (0,0,0,.6);
	border-color: #eee;
}

.contenedor-img img {
	display: block;
	float: left;
	z-index: 0;
}


.cuatro-imagenes {
	width: 400%;
}

.cuatro-imagenes img {
	width: 25%;
}

.contenedor-img {
	position: relative;
	left: 0;
	-ms-transition: left .3s ease-in;
	-moz-transition: left .3s ease-in;
	-o-transition: left .3s ease-in;
	transition: left .3s ease-in;

}

.boton:nth-child(1):checked ~ .contenedor-img {
	left: 0;
}

.boton:nth-child(3):checked ~ .contenedor-img {
	left: -100%;
}

.boton:nth-child(5):checked ~ .contenedor-img {
	left: -200%;
}

.boton:nth-child(7):checked ~ .contenedor-img {
	left: -300%;
}

.contenido{ 
	text-align: center;
	padding:60px;
	border: 1px;
	}


#pdf{
	height: 100%;
    position: fixed;
    width: 500%;
    z-index: 1
}

#contenedor {
  width: 1200px;
  text-align:center;
}